---
layout: page
---

<div class="publications">
    
    <h1 class="publications">Selected Publications</h1>
    <br>
    <h4> A full and up-to-date publication list is available at <a href="https://scholar.google.ca/citations?hl=en&user=dNybyvgAAAAJ&view_op=list_works&sortby=pubdate">Google Scholar.</a></h4>
    <br>


    {% for pub in site.data.publications %}

    <div class="pub row">
        <!--<div class="col-sm-2">
            {% if pub.image.url %}
            <a href="{{ pub.image.url }}">
                <img class="pub-image" src="{{ pub.image.src }}"
                     alt="illustration and link to full text" class="pub-image">
            </a>
            {% else %}
            <img class="pub-image" src="{{ pub.image }}"
                 alt="illustration" class="pub-image">
            {% endif %}
        </div>-->
        <div class="col-sm-8">
            <h4 class="pub-title">{{ pub.title }}</h4>
            <p class="pub-author">{{ pub.author }}
            <br>
            <i class="pub-where">{{ pub.where }}</i>
            {% if pub.press %}
                <br>
                <a href="{{ pub.press }}">Press</a> 
            {% endif %}
            </p>
            {% if pub.abstract %}
            <p class="pub-abstract">{{ pub.abstract }}</p>
            {% endif %}
        </div>
        <div class="col-sm-1">
            <h8 class="pub-year">{{pub.year}}</h8>
        </div>
        <div class="col-sm-2">
            <a href="{{ pub.repo.url }}">{{ pub.repo.name }}</a>
        </div>
    </div>

    {% endfor %}

</div>
